<div class="team" *ngFor="let team of teams">
  <div class="panel panel-info" >
    <div class="panel-heading">
      <h3 style="display: inline-block;" class="panel-title">
        <a class="edit-team team-name" href="#" data-toggle="modal" data-target="#teamModal" onclick="editTeam('123')">{{ team.name }}</a>
      </h3>
      <button  class="close" data-href="deleteTeam('123')" data-toggle="modal" data-target="#confirm-delete">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div id="newTeamDiv" class="team-container panel-body" >
      <div class="role-container">
        <div class="role" ondrop="drop(event, this)" ondragover="allowDrop(event)"></div>
        <label class="team-role"></label>
      </div>
    </div>
  </div>
</div>
